* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 3rem 1rem;
  text-align: center;
  background-color: yellowgreen;
}

main header {
  background-color: beige;
  padding: 0.5rem;
}

main {
  max-width: 75ch;
  margin: auto;
  padding: 1rem;
  background-image: linear-gradient(to bottom, gainsboro 0%, silver 60%);
}

main > * + * {
  margin-top: 3rem;
  border-top: 0.2rem solid black;
}

a {
  padding: 0.25rem 0.5rem;
  color: black;
}

a:hover {
  color: yellowgreen;
  background-color: black;
}

a:active {
  color: yellowgreen;
}

a + a {
  margin-left: 1rem;
}

h1::before {
  content: "😎";
  padding-right: 3rem;
}

h1::after {
  content: "🌴";
  padding-left: 3rem;
}

::selection {
  background-color: black;
  color: white;
}

.heading-group {
  font-size: 3rem;
}
.heading-group p {
  font-size: 0.5em;
}

.soft-skills {
  border: 0.2rem solid black;
  display: inline-block;
  width: 40%;
}
.technical-skills {
  border: 3px solid black;
  display: inline-block;
  width: 40%;
  margin: 2rem;
}

.hire-me {
  background-color: gold;
  font-size: 2em;
  width: fit-content;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 10px;
}

@media print {
  .navigation-links .hire-me {
    display: none;
  }
}

@media screen and (min-width: 786px) {
  html {
    font-size: 120%;
  }
  main article {
    margin-top: 3em;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 150%;
  }
  .hire-me {
    position: fixed;
  }
  main article {
    margin-top: 5em;
  }
}
