* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --header-color: beige;
  --main-header-color1: yellow;
  --main-header-color2: yellowgreen;
}

@media print {
  .navigation-links .hire-me {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
  main article {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    margin-top: 3em;
  }
  .navigation-links {
    display: flex;
    flex-direction: row;
  }
  #experience h3 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 120%;
  }
  .hire-me {
    position: fixed;
  }
  main article {
    margin-top: 5em;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 3rem 1rem;
  text-align: center;
}

.main-header {
  background-image: linear-gradient(
    var(--main-header-color1),
    var(--main-header-color2)
  );
}

.main-header:focus-within .hire-me {
  transform: scale(1.5);
}

main header {
  background-color: var(--header-color);
  padding: 0.5rem;
}

main {
  max-width: 75ch;
  margin: auto;
  padding: 1rem;
  background-image: linear-gradient(to bottom, gainsboro 0%, silver 60%);
}

main > * + * {
  margin-top: 3rem;
  border-top: 0.2rem solid black;
}

a {
  padding: 0.25rem 0.5rem;
  color: black;
}

a:hover {
  color: var(--main-header-color2);
  background-color: black;
  transition: background-color 1s;
}

a:active {
  color: var(--main-header-color2);
}

.nav-link:focus {
  background-color: var(--main-header-color2);
  transition: background-color 1s;
}

a + a {
  margin-left: 1rem;
}

h1::before {
  content: "😎";
  padding-right: 3rem;
}

h1::after {
  content: "🌴";
  padding-left: 3rem;
}

::selection {
  background-color: black;
  color: white;
}

.heading-group {
  font-size: 3rem;
}
.heading-group p {
  font-size: 0.5em;
}

.soft-skills {
  border: 0.2rem solid black;
  width: 600px;
  margin-top: 5rem;
  margin-right: 3rem;
  padding: 1rem;
  background-image: url(images/Notiz.jpg);
  background-position: 50% 43%;
  background-size: 185%;
}
.technical-skills {
  border: 0.2rem solid black;
  width: 600px;
  margin-top: 5rem;
  padding: 1rem;
  background-image: url(images/Notiz.jpg);
  background-position: 50% 43%;
  background-size: 185%;
}

.hire-me {
  background-color: gold;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  transition: transform 1s;
}

.main-header:hover .hire-me {
  transform: scale(1.5);
}

.navigation-links {
  display: flex;
  justify-content: space-around;
}

#experience h3 {
  display: flex;
  justify-content: center;
}

footer {
  background-image: linear-gradient(
    to bottom,
    var(--main-header-color1),
    var(--main-header-color2)
  );
  text-align: center;
  padding: 1rem;
}
