* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 48px 16px;
  text-align: center;
  background-color: yellowgreen;
}

main header {
  background-color: beige;
  padding: 5px;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 16px;
  background-image: linear-gradient(to bottom, gainsboro 0%, silver 60%);
}

main > * + * {
  margin-top: 48px;
  border-top: 2px solid black;
}

a {
  padding: 4px 8px;
  color: black;
}

a:hover {
  color: yellowgreen;
  background-color: black;
}

a:active {
  color: yellowgreen;
}

a + a {
  margin-left: 16px;
}

h1::before {
  content: "😎";
  padding-right: 50px;
}

h1::after {
  content: "🌴";
  padding-left: 50px;
}

::selection {
  background-color: black;
  color: white;
}
